@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Red Rose', cursive;
}
.header-button {
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border-radius: 10px;
}

.coins, .metabnb {
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}

.hero input[type=text] {
    background: rgba(247, 247, 247, 0.1);
    border: 1px solid #A3A3A3;
    border-radius: 8px 0px 0px 8px;
}

.hero input[type=submit] {
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border-radius: 0px 8px 8px 0px;
}

.hero-head {
    line-height: 140%;
}

.card-container {
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #D7D7D7;
    border-radius: 15px;
}

.locations-form {
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #B4B4B4;
    border-radius: 8px;
    padding: 8px 12px;
}

.locations-form input {
    border: 0;
    outline: 0;
}